name: Build

on: [push, pull_request]

jobs:
  linux:
    runs-on: ubuntu-latest

    container: registry.fedoraproject.org/fedora:latest

    steps:
      - name: Set up DNF download cache
        id: dnf-cache
        uses: actions/cache@v3
        with:
          path: /var/cache/dnf
          key: ${{ runner.os }}-dnfcache
      - name: Install pre-requisites
        run: dnf --assumeyes --setopt=install_weak_deps=False install
              gcc-c++ meson /usr/bin/git /usr/bin/wayland-scanner
              'pkgconfig(wayland-client)' 'pkgconfig(wayland-protocols)' 'pkgconfig(libpulse-simple)'
              'pkgconfig(libavutil)' 'pkgconfig(libavcodec)' 'pkgconfig(libavformat)'
              'pkgconfig(libavdevice)' 'pkgconfig(libavfilter)' 'pkgconfig(libswresample)'
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0  # Shallow clones speed things up
      - run: git config --global --add safe.directory '*' # Needed for git rev-parse
      - name: meson configure
        run: meson ./Build
      - name: compile with ninja
        run: ninja -C ./Build
